
 <!-- HOME -->
 <div id="home">
    <!-- container -->
    <div class="container">
      <!-- home wrap -->
      <div class="home-wrap">

          <div class="product-body">

              <h2 class="product-name">Tunexa</h2>


              <p>Nous avons l’honneur de vous presenter notre central
                 d’achat , nous sommes une société de commerce
                 international, qui consiste a l’exportation et l’importation des produits ainsi dans tout genre d’opérations de négocie internationales et  de courtage
                Nous sommes basé en Tunisie.</p>

                <p>Nous pouvons vous assurer que nous proposons une
                  large gamme des meilleurs produits en provenance
                  de la Tunisie et d’autres pays.</p>

                <p>Notre role est de satisfaire nos clients en leurs
                    offrant une qualité extra aux moindres coûts et
                  dans les meilleurs délais.</p>

                <p>Nous sommes fiers de la confiance
                  que nous accordent nos partenaires et nos clients.</p>

                <p>Une équipe dynamique sera toujours a l’écoute de vos
                   besoins même les plus spécifiques , n’hésitez pas a nous contacter
                   par mail ou téléphone pour plus d’informations.</p>
            </div>

      </div>
      <!-- /home wrap -->
    </div>
    <!-- /container -->
  </div>
  <!-- /HOME -->
